.mybutton{
	-fx-background-color: orange;
	-fx-border-color: orange;
	-fx-text-fill: white;	
}

.mytitle{
    /*-fx-font-family: "HipsterishFontNormal";*/
    -fx-font-family: "Shadows Into Light";
    -fx-font-size: 36.0px;
    
}

.mypane{
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
	}
	

.fondo{
	-fx-background-image: url("blueforest.jpg");
	-fx-background-size: 100%;
	-fx-background-repeat: no-repeat ;
	
}
.mybuttonswhite{
	-fx-background-color: white;
	-fx-text-fill: blue;
	-fx-border-color: blue;
    -fx-border-width: 2;
    -fx-border-radius: 7 7 7 7;
}
.mybuttonsblue{
	-fx-background-color: blue;
	-fx-text-fill: white;
	-fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius:10px;
    -fx-background-radius: 40px;
}